@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@font-face {
  font-family: "LayijiMahaniyom Bao";
  src: url("../fonts/LayijiMahaniyom Bao.otf");
  src: url("../fonts/LayijiMahaniyom Bao.ttf");
}
@font-face {
  font-family: "Itim";
  src: url("../fonts/Itim-Regular.otf");
}
@font-face {
  font-family: "Lamoon";
  src: url("../fonts/FC\ Lamoon\ Regular\ ver\ 1.00.otf");
}
@font-face {
  font-family: "Maaja";
  src: url("../fonts/maaja\ ver\ 1.00.otf");
}
@font-face {
  font-family: "FCFriday";
  src: url("../fonts/FC\ Friday\ Medium.ttf");
}
@font-face {
  font-family: "Salmon";
  src: url("../fonts/UID\ SALMON\ 2019\ .ttf");
}
@font-face {
  font-family: "FCHome";
  src: url("../fonts/FC\ Home\ Regular\ ver\ 1.01.ttf");
}
@font-face {
  font-family: "FCMotorway";
  src: url("../fonts/FC\ Motorway\ Regular.ttf");
}
@font-face {
  font-family: "THKrub";
  src: url("../fonts/TH\ Krub.ttf");
}
@font-face {
  font-family: "THBaijam";
  src: url("../fonts/TH\ Baijam.ttf");
}
@font-face {
  font-family: "THKD2";
  src: url("../fonts/TH\ K2D\ July8.ttf");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit\ Light.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-family: "Itim", "LayijiMahaniyom Bao", "THKD2", "Lamoon";
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-family: "Lamoon", "Itim", "LayijiMahaniyom Bao";
  font-size: 4.2rem;
  text-align: center;
  padding: 0 0 1rem 0;
  margin: 0rem;
  color: rgb(229, 107, 111);
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  font-family: "Itim", "LayijiMahaniyom Bao", "Lamoon";
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: normal;
  padding: 0.45rem 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:hover {
  color: #ff4b2b;
  border: 1px solid #ff4b2b;
  background-color: #fff;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
  color: #fff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

/***************************
Input Thing Start From here
***************************/

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#login{
  display: none;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.title {
  color: rgb(57, 57, 57);
}


/*
Make the inside looks cool
*/
.textlogin::-webkit-input-placeholder {
  font-family: "Lamoon", "Itim", "LayijiMahaniyom Bao";
  font-size: 1.3rem;
}

.textlogin:-ms-input-placeholder {
  font-family: "Lamoon", "Itim", "LayijiMahaniyom Bao";
  font-size: 1.3rem;
}

.textlogin:-moz-placeholder {
  font-family: "Lamoon", "Itim", "LayijiMahaniyom Bao";
  font-size: 1.3rem;
}

.textlogin::-moz-placeholder {
  font-family: "Lamoon", "Itim", "LayijiMahaniyom Bao";
  font-size: 1.3rem;
}
/********
Remember me thing
*********/
.checkbox-symbol {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.checkbox-container {
  background: #ffffff;
  color: #333;
  width: 100%;
  margin: 0.3rem 0 0.3rem -1rem;
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

/* .checkbox:hover {
    background: rgba(0, 119, 255, 0.06);
  } */

.checkbox span {
  transform: translate3d(0, 0, 0);
  font-family: "LayijiMahaniyom Bao", "Lamoon", "Itim";
  font-size: 1.4rem;
  font-weight: bold;
  padding-top: 0.1rem;
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.3s ease;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox:hover span:first-child {
  border-color: #0077ff;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #0077ff;
  border-color: #0077ff;
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

/***** 
  Forgot Thing
******/

.forgot {
  width: 80%;
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #669999;
  transition: all 0.5s ease;
  font-family: "Lamoon","LayijiMahaniyom Bao","Itim";
}
.forgot a{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.forgot a:hover{
    border-bottom: 0.1rem solid #ff4b2b ;
    color: #ff4b2b;
}

.forgot a.close{
  display: none;
}

@media (max-width: 600px){
  h2{
    font-size: 3.5rem;
  }
  .container{
    width: 450px;
  }
  .forgot a.close{
    display: unset;
  }
  .sign-in-container{
    width: 100%;
  }
  .sign-up-container{
    width: 100%;
    left: -28.3rem;
  }
  .overlay-container{
    display: none;
  }
  #login{
    width: 80%;
    font-family: "Lamoon","LayijiMahaniyom Bao","Itim";
    font-size: 1.5rem;
    display: unset;
    margin-top: 1rem;
    padding-top: 1rem;
    color: #333;
    border-top: 1px solid #333;
  }
  #login:hover{
    color: #ff4b2b;
    cursor: pointer;
  }
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}

@media (max-width: 450px){
  .sign-up-container{
    max-width: 100%;
    left: -26rem;
  }
}
@media (max-width: 380px){
  .sign-up-container{
    max-width: 100%;
    left: -23.8rem;
  }
}

/*
End of remember me thing
*/

/*
Message thing
*/
.message{
    font-family: "LayijiMahaniyom Bao","Lamoon","Itim";
    font-size: 2rem;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
